<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convertidor de Bitcoins a Pesos Mexicanos">
    <meta name="author" content="http://about.me/pakman198">
    <meta name="keywords" content="XBT, mBTC, satoshi, nakamoto, Bitcoin, BTC, BTX, ISBIT, VITSO, BITSO, VOLABIT, coin, moneda, crispo, crypto, criptomoneda, cryptomoneda, exchange, casa, cambio, LiteCoin, virtual, convertidor, converter, equivalencia, tipo de cambio, MXN, pesos, peso, mexico, México, mexicano, mexicana, mexican, rate, mejor, momento, vivo, mex, nacional, 100%, igual, cuanto, equivale, comprar, vender, Ƀ, convertir, conversión, ciudad de méxico, frontera, Df, transferencia, banca, electrónica, dirección, wallet, cartera, BBVA, Bancomer, mejor, cambio, divisa, divisas, USD, $, legal, mina, minar, mining, cloud, genesis, nube, isbit.com, bitso.com, volabit.com, millenial, dólar, dollar, MtGox, ether, ethereum, visa, mastercard, mineros, bloomberg, ahorro, savings, saving, ahorra, invierte, invertir, español, inglés, índice, mercado, finanzas, finance, dinero, money, blog, consejos, china, japón, cajero, banco, primer, rendimiento, retorno, ROI, ROE">

    <title>Bitcoin MX</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Bitcoin MX</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="./">Home</a>
                    </li>
                    <!-- <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" ng-app="Bitcoin">
		<div class="container" ng-controller="BitcoinController as btcCtrl">
			<div class="intro-message  col-md-offset-1 col-md-10">
				<h1>Convertidor de Bitcoins a Pesos Mexicanos</h1>
			</div>

			<div class="row">
				<form class="form-inline col-md-offset-2 col-md-8">
					<div class="jumbotron clearfix">
						<div class="form-group col-sm-5">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-usd" ng-if="btcCtrl.current == 'MXN' "></span>
									<span class="glyphicon glyphicon-btc" ng-if="btcCtrl.current != 'MXN' "></span>
								</div>
								<input type="number" class="form-control input-lg" id="exampleInputAmount" placeholder="1" ng-model="btcCtrl.amountInput" ng-change="btcCtrl.calculatePrice(btcCtrl.amountInput);" ng-model-options="{debounce:750}">
							</div>
						</div>
						
						<div class="form-group col-sm-2 text-center">
							<button class="btn btn-lg btn-primary" ng-click="btcCtrl.changeCurrency();">
								<span class="glyphicon glyphicon-transfer"></span>
							</button>
						</div>

						<div class="form-group col-sm-5">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-btc" ng-if="btcCtrl.current == 'MXN' "></span>
									<span class="glyphicon glyphicon-usd" ng-if="btcCtrl.current != 'MXN' "></span>
								</div>
								<input type="number" class="form-control input-lg disbaled" placeholder="{{ btcCtrl.operationResult | number:4}}" disabled>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Banner 1 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-7532370439828080"
				     data-ad-slot="6890480526"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>

			</div>
		</div>

    </div>

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-cookies.js"></script>

    <!-- Main Bitcoin Calculator Module -->
    <script src="src/bitcoin-calculator_module.js"></script>
    <script src="src/bitcoin-calculator_controller.js"></script>
    <script src="src/bitcoin-calculator_service.js"></script>

</body>

</html>
